* {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
a {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

@font-face {
  font-family: banny;
  src: url(/banny-cufonfonts/Banny-BoldRound.otf);
}

.title {
  font-family: banny;
  color: white;
}

.text-medium {
  color: white;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
}

.header-hero-section {
  background-image: url(./images/header-bg.png);
  background-size: cover;
  height: 800px;
}

.header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .nav {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid #ffffff33;
}

.header .nav .nav-link {
  width: 133px;
  height: 100px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header .nav .nav-link:hover {
  color: #e8c300;
  text-shadow: #e8c300 4px 4px 6px;
}

.header .nav:last-child {
  margin-left: 100px;
}

.wheel-image {
  margin-top: 25px;
  position: absolute;
  width: 150px;
  height: 150px;
}

.center-line-top {
  width: 1px;
  height: 454px;
  margin: 111px 0 0 50%;
  position: absolute;
  background-color: #ffffff33;
}

.center-line-bottom {
  width: 1px;
  height: 75px;
  margin: 625px 0 0 50%;
  position: absolute;
  background-color: #ffffff33;
}

.hero {
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .hero-left-container {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hero .hero-left-container .hero-time {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: white;
  line-height: 12px;
  letter-spacing: 0.1em;
}

.hero .hero-center-container {
  width: 60%;
  height: 100%;
  border-left: 1px solid #ffffff33;
  border-right: 1px solid #ffffff33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero-center-container .hero-subtitle {
  padding-top: 225px;
  line-height: 14px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

.hero .hero-center-container .hero-title {
  margin-top: 70px;
  font-size: 96px;
  line-height: 0px;
  text-transform: uppercase;
}

.hero .hero-center-container .hero-line {
  margin: 80px 0 30px;
  background-color: #e8c300;
  border-radius: 50px;
  width: 60px;
  height: 5.11px;
}

.hero .hero-center-container .hero-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero .hero-center-container .hero-links-container .hero-link {
  width: 200px;
  height: 60px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .hero-center-container .hero-links-container .hero-link-colored {
  background: #e8c300;
  border-radius: 5px;
  margin-right: 40px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.hero .hero-center-container .hero-links-container .hero-link-colored:hover {
  background-color: unset;
  border: 1px solid #ffffff80;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.hero .hero-center-container .hero-links-container .hero-link-transparent {
  border: 1px solid #ffffff80;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.hero .hero-center-container .hero-links-container .hero-link-transparent:hover {
  border: none;
  background-color: #e8c300;
}

.hero .hero-center-container .hero-link-down {
  width: 60px;
  height: 60px;
  margin-top: 80px;
}

.hero .hero-center-container .hero-icon-down:hover {
  margin-top: 10px;
}

.hero .hero-right-container {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .hero-right-container .hero-social-link {
  padding-left: 155px;
  width: 60px;
  height: 60px;
}

.hero .hero-right-container .hero-social-link:not(:first-child) {
  margin-top: 20px;
}

.hero .hero-right-container .hero-social-icon {
  width: 60px;
  height: 60px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.hero .hero-right-container .hero-social-icon:hover {
  width: 50px;
  height: 50px;
}
/*# sourceMappingURL=styles.css.map */