* {
	scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
a {
	margin: 0;
	font-size: 100%;
	font-weight: normal;
}

@font-face {
	font-family: "Banny Round";
	font-style: normal;
	font-weight: normal;
	src: local("Banny Round"), url("./images/Banny-Round.woff") format("woff");
}

$hero-border: #ffffff33;

$hero-yellow: #e8c300;

.title {
	font-family: "Banny Round";
	color: white;
	text-transform: uppercase;
}

$sans: "Open Sans";

.text {
	font-family: $sans;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	line-height: 24px;
}

.subtitle {
	font-family: $sans;
	font-weight: 700;
	font-style: normal;
	font-size: 18px;
	line-height: 28px;
}

.text-medium {
	color: white;
	font-family: $sans;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 1px;
}

.yellow-line {
	background-color: $hero-yellow;
	border-radius: 50px;
	width: 60px;
	height: 5.11px;
}

.header-hero-section {
	background-image: url(./images/header-bg.png);
	background-size: cover;
	height: 800px;
}

.header {
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	.nav {
		height: 100px;
		display: flex;
		flex-direction: row;
		border-bottom: 1px solid $hero-border;

		.nav-link {
			width: 133px;
			height: 100px;
			text-decoration: none;
			text-transform: uppercase;
			line-height: 18px;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 0.5s ease;
		}

		.nav-link:hover {
			color: $hero-yellow;
			text-shadow: $hero-yellow 4px 4px 6px;
		}
	}

	.nav:last-child {
		margin-left: 100px;
	}
}

.wheel-image {
	margin-top: 25px;
	position: absolute;
	width: 150px;
	height: 150px;
}

.center-line-top {
	width: 1px;
	height: 454px;
	margin: 111px 0 0 50%;
	position: absolute;
	background-color: $hero-border;
}

.center-line-bottom {
	width: 1px;
	height: 75px;
	margin: 625px 0 0 50%;
	position: absolute;
	background-color: $hero-border;
}

.hero {
	height: 700px;
	display: flex;
	flex-direction: row;
	justify-content: center;

	.hero-left-container {
		width: 20%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;

		.hero-time {
			transform: rotate(-90deg);
			color: white;
			line-height: 12px;
			letter-spacing: 0.1em;
		}
	}

	.hero-center-container {
		width: 60%;
		height: 100%;
		border-left: 1px solid $hero-border;
		border-right: 1px solid $hero-border;
		display: flex;
		flex-direction: column;
		align-items: center;

		.hero-subtitle {
			margin-top: 225px;
			line-height: 14px;
			letter-spacing: 0.5em;
			text-transform: uppercase;
		}

		.hero-title {
			margin-top: 70px;
			font-size: 96px;
			line-height: 0px;
		}

		.hero-line {
			margin: 80px 0 30px;
		}

		.hero-links-container {
			display: flex;
			flex-direction: row;

			.hero-link {
				width: 200px;
				height: 60px;
				line-height: 20px;
				text-transform: uppercase;
				text-decoration: none;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.hero-link-colored {
				background: $hero-yellow;
				border-radius: 5px;
				margin-right: 40px;
				transition: all 0.5s ease;
			}

			$link-border: #ffffff80;

			.hero-link-colored:hover {
				background-color: unset;
				border: 1px solid $link-border;
				box-sizing: border-box;
				border-radius: 5px;
			}

			.hero-link-transparent {
				border: 1px solid $link-border;
				box-sizing: border-box;
				border-radius: 5px;
				transition: all 1s ease;
			}

			.hero-link-transparent:hover {
				border: none;
				background-color: $hero-yellow;
			}
		}

		.hero-link-down {
			width: 60px;
			height: 60px;
			margin-top: 80px;
		}

		.hero-icon-down:hover {
			margin-top: 10px;
		}
	}
	.hero-right-container {
		width: 20%;
		height: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;

		.hero-social-link {
			margin-left: 155px;
			width: 60px;
			height: 60px;
		}

		.hero-social-link:not(:first-child) {
			margin-top: 20px;
		}

		.hero-social-icon {
			width: 60px;
			height: 60px;
			transition: all 0.5s ease;
		}
		.hero-social-icon:hover {
			width: 50px;
			height: 50px;
		}
	}
}

$bg-white: white;

.about-sqare {
	position: absolute;
	right: 30px;
	width: 250px;
	height: 250px;
	border: 20px solid #e8c300;
	box-sizing: border-box;
	filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
	border-radius: 5px;
}

.about-section {
	height: 675px;
	background-color: $bg-white;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 80px;

	.about-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		.about-title {
			font-size: 36px;
			line-height: 48px;
			color: #000000;
		}

		.about-line {
			margin: 10px 0 20px;
		}

		.about-subtitle {
			width: 565px;
		}

		.about-text {
			margin-top: 20px;
			width: 600px;
		}
	}

	.about-image {
		padding-right: 154px;
		width: 575px;
		height: 575px;
	}
}
