@import url("./media/media-1366px.css");
* {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
a {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

@font-face {
  font-family: "Banny Round";
  font-style: normal;
  font-weight: normal;
  src: local("Banny Round"), url("./images/Banny-Round.woff") format("woff");
}

.title {
  font-family: "Banny Round";
  text-transform: uppercase;
}

.text {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
}

.subtitle {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
}

.text-medium {
  color: white;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
}

.yellow-line {
  background-color: #e8c300;
  border-radius: 50px;
  width: 60px;
  height: 5.11px;
}

.header-hero-section {
  background-image: url(./images/header-bg.png);
  background-size: cover;
  height: 800px;
}

.header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .nav {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid #ffffff33;
}

.header .nav .nav-link {
  width: 133px;
  height: 100px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header .nav .nav-link:hover {
  color: #e8c300;
  text-shadow: #e8c300 4px 4px 6px;
}

.header .nav:last-child {
  margin-left: 100px;
}

.wheel-image {
  margin-top: 25px;
  position: absolute;
  width: 150px;
  height: 150px;
}

.vertical-line {
  width: 1px;
  position: absolute;
  background-color: #ffffff33;
}

.center-line-top {
  height: 454px;
  margin: 111px 0 0 50%;
}

.center-line-bottom {
  height: 75px;
  margin: 625px 0 0 50%;
}

.hero {
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .hero-left-container {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.hero .hero-left-container .hero-time {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: white;
  line-height: 12px;
  letter-spacing: 0.1em;
}

.hero .hero-center-container {
  width: 60%;
  height: 100%;
  border-left: 1px solid #ffffff33;
  border-right: 1px solid #ffffff33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero-center-container .hero-subtitle {
  margin-top: 225px;
  line-height: 14px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

.hero .hero-center-container .hero-title {
  margin-top: 70px;
  font-size: 96px;
  line-height: 0px;
  color: white;
}

.hero .hero-center-container .hero-line {
  margin: 80px 0 30px;
}

.hero .hero-center-container .hero-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero .hero-center-container .hero-links-container .hero-link {
  width: 200px;
  height: 60px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .hero-center-container .hero-links-container .hero-link-colored {
  background: #e8c300;
  border-radius: 5px;
  margin-right: 40px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.hero .hero-center-container .hero-links-container .hero-link-colored:hover {
  background-color: unset;
  border: 1px solid #ffffff80;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.hero .hero-center-container .hero-links-container .hero-link-transparent {
  border: 1px solid #ffffff80;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.hero .hero-center-container .hero-links-container .hero-link-transparent:hover {
  border: none;
  background-color: #e8c300;
}

.hero .hero-center-container .hero-link-down {
  width: 60px;
  height: 60px;
  margin-top: 80px;
}

.hero .hero-center-container .hero-icon-down:hover {
  margin-top: 10px;
}

.hero .hero-right-container {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .hero-right-container .hero-social-link {
  margin-right: 80px;
  width: 60px;
  height: 60px;
}

.hero .hero-right-container .hero-social-link:not(:first-child) {
  margin-top: 20px;
}

.hero .hero-right-container .hero-social-icon {
  width: 60px;
  height: 60px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.hero .hero-right-container .hero-social-icon:hover {
  width: 50px;
  height: 50px;
}

.sqare {
  position: absolute;
  width: 225px;
  height: 225px;
  border: 20px solid #e8c300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
}

.right-sqare {
  right: 80px;
}

.section-title {
  font-size: 36px;
  line-height: 48px;
  color: #000000;
}

.section {
  height: 675px;
  background-color: white;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 80px;
}

.section .line {
  margin: 10px 0 20px;
}

.section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.section .container .section-subtitle {
  width: 565px;
}

.section .container .section-text {
  margin-top: 20px;
  width: 600px;
}

.section .right-image {
  margin-right: 80px;
  width: 475px;
  height: 475px;
}

.section-name {
  margin-top: 50px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-size: 12px;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: white;
}

.team-specialties-line {
  height: 675px;
}

.team-specialties-line-left-top {
  left: 20%;
  height: 141px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.team-specialties-line-left-bottom {
  left: 20%;
  height: 141px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.team-specialties-line-center {
  left: 50%;
}

.team-specialties-line-right {
  right: 20%;
}

.team-specialties-section {
  background-image: url(./images/team-bg.png);
}

.team-specialties-section .team-specialties-container {
  color: white;
}

.team-specialties-section .team-specialties-container .team-specialties-title {
  color: white;
}

.team-specialties-section .left-sqare {
  left: 80px;
}

.left-image {
  margin-left: 80px;
  width: 475px;
  height: 475px;
}

.section-info {
  position: absolute;
  color: rgba(51, 51, 51, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-weight: 400;
  letter-spacing: 0.05em;
  margin-bottom: 50px;
}

.booking-info-span {
  white-space: pre-wrap;
  color: rgba(51, 51, 51, 0.8);
  font-weight: 700;
  text-transform: uppercase;
}

.input {
  background-color: #e5e5e5;
  line-height: 19px;
  text-indent: 20px;
  border-radius: 5px;
  border: 0;
}

.input:focus {
  outline: none;
}

.yellow-button {
  margin-top: 10px;
  background-color: #e8c300;
  border-radius: 5px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  border: 0;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.yellow-button:focus {
  outline: none;
}

.yellow-button:hover {
  background-color: unset;
  border: 1px solid #e8c300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  color: #e8c300;
  text-shadow: #e8c300 4px 2px 8px;
}

.booking-button {
  width: 570px;
  height: 60px;
}

.booking-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.booking-form {
  width: 570px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.booking-form .booking-input {
  height: 60px;
  width: 277px;
}

.specialties-ellipse {
  margin-bottom: 45px;
  position: absolute;
  width: 70px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.menu-section {
  padding: 100px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-section .menu-line {
  margin: 10px 0 20px;
}

.menu-section .menu-subtitle {
  max-width: 520px;
  text-align: center;
}

.menu-section .menu-buttons-container {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu-section .menu-buttons-container .menu-button {
  width: 120px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  background: white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  color: #333333;
  font-weight: 700;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.menu-section .menu-buttons-container .menu-button:not(:first-child) {
  border-left: 1px solid #e5e5e5;
}

.menu-section .menu-buttons-container .menu-button:hover {
  background: #e8c300;
}

.menu-section .menu-buttons-container .menu-button:focus {
  outline: none;
}

.menu-section .menu-cards-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-section .menu-cards-container .menu-cards-columns {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-section .menu-cards-container .menu-card:not(:first-child) {
  margin-top: 50px;
}

.menu-section .menu-cards-container .menu-card-title {
  font-size: 18px;
  line-height: 18px;
  color: #333333;
}

.menu-section .menu-cards-container .menu-card-text {
  font-size: 12px;
  line-height: 18px;
  color: #333333;
}

.events-info {
  color: #ffffff80;
}

.events-info-span {
  color: #ffffffb3;
  white-space: pre-wrap;
}

.events-line-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.events-line-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.events-line-left-right {
  height: 141px;
}

.events-line-left {
  left: 20%;
}

.events-line-center {
  left: 50%;
  height: 675px;
}

.events-line-right {
  right: 20%;
}

.events-section {
  background: url(./images/events-bg.png);
}

.events-section .events-card {
  position: absolute;
  background: black;
  width: 394px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.events-section .events-card-left {
  border-radius: 5px 5px 0px 0px;
  left: 423px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.events-section .events-card-right {
  border-radius: 5px 5px 0px 0px;
  right: 423px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.events-section .events-title {
  margin: 0 20px;
  color: white;
  font-size: 24px;
}

.photos-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #573a26;
}
/*# sourceMappingURL=styles.css.map */